    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
    }
    h2 {
      text-align: center;
      color: MidnightBlue;
    }

    h3 {
      text-align: center;
      color: MidnightBlue;
    }

    .formula {
      text-align: center;
      margin: 15px 0;
      font-size: 1.0em;
    }

    .indicador {
      border: 2px solid MidnightBlue;
      border-radius: 5px;
      background-color: hsl(206, 56%, 97%);
      padding: 15px;
      margin: 20px 0;
    }

    .definicao {
      text-align: justify;
    }